body {
  margin: 0;
  padding: 0;
}

a:link {
    color: #222327;
}

/* visited link */
a:visited {
    color: #222327;
}


a:hover {
    color: #6FB100;
}


.node {
  cursor: pointer;
}

.overlay{
  background-color:#FFFFFF;
}

.ui-autocomplete {
  max-height: 400px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

.node circle {
  fill: #fff;
  stroke: black;
  stroke-width: 2px;
}

.node text {
  font-size:15px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}

#navbarcontainer {
  position:absolute;
  left:0px;
  right: 370px;
}

#tree-container {
}

.slider {
  width: 200px;
}

#range-container {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 25px;
}

#range-desc {
  float: left;
  width: 130px;
}

#range-indicator {
  padding-top: 3px;
  text-align: center;
}

#range-bar {
  padding-top: 2px;
  float: right;
  width: 175px;
}

#rightpane {
  font-size: 15px !important;
  float: right;
  top: 0px;
  right:0px;
  width: 350px;
}

.main-container {
  overflow: hidden;
  height: auto;
}

.menu-items {
  padding-right: 20px;
}

.left {
  float: none;
  width: auto;
  overflow: hidden;
}

#search {
  padding-bottom: 5px;
  padding-top: 5px;

}

#infobox {
  visibility: hidden;
}

#bigoraphyDiv {
  height: 300px;
  overflow: scroll;
}

h4 {
  color: #81b900;
}

#popularTracks {
  padding-left: 0;
}

.now-playing {
  padding-left: 30px;
}

.now-playing::before {
  /*content: "- ";*/
  display: inlne-block;
}

.now-playing.active {
  background: url('../img/spotify.png') no-repeat left top;
  background-size: 67px;
  background-position-x: 0px;
}

#popularTracks {
  list-style-position: inside;
}

#mainGenres li {
  cursor: pointer;
}

#mainGenres a {
    color: #222327;
}


#mainGenres a:link {
    color: #222327;
}

#mainGenres a:visited {
    color: #222327;
}

#mainGenres a:hover {
    color: #6FB100;
}




